<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"    href="../css/estilos.css">
    <link rel="stylesheet"    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>

    <nav>
        <label for="menu-toggle">

            <svg  class="botom" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">  
                <path  fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>

        </label>

        <input type="checkbox" id="menu-toggle">

        <ul id="menu">
            <li> <a href="../index.html">       Inicio        </a>     </li>
            <li> <a href="./Galeria.html">      Portafolio    </a>     </li>
            <li> <a href="./formulario.html">   Presupuesto   </a>     </li>
            <li> <a href="#" id="selected">     Contacto      </a>     </li>
            
        </ul>
       <img src="../imagenes/nissan.jpg"  alt="logotipo" class="logo" width="211" height="180">
         
    </nav>

    <div class="presentacion">

        <img  class="tienda"  alt="tienda" src="../imagenes/tienda.jpg" width="1170" height="570">
        <img  class="marca"   alt="tienda" src="../imagenes/marca.jpg"  width="180"  height="180">

        <div class="datos">

            <h2>DATOS DE CONTACTO</h2>

           <ul >
                <li> <a href="#">TFN: 657894326                   </a></li>
                <li> <a href="#">DIRECCION:                       </a></li>
                <li> <a href="#">CORREO:servicio.nissan@gmail.com </a></li>
           </ul>

        </div>

    </div>

        <iframe class="map"   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28061.040523289834!2d-16.32962854324724!3d28.4605660206856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cd027f77c0e9%3A0x60f95de9d677398!2sNissan%20Arimotor%20Tenerife!5e0!3m2!1ses!2ses!4v1720971786517!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 
        
   


    <footer class="container">
     
        <div class="container">
    
            <div class="footer-row">
    
                <div class="footer-links"   >
    
                    <h4>Contactanos</h4>

                    <ul>
    
                       <li> <a href="#" >Direccion: Calle la Enrramada Nº23 </a>  </li>
                       <li> <a href="#" >Aviso legal                        </a>  </li>
                       
    
                    </ul>
    
                </div>
                <div class="footer-links">
    
                    <h4>ayuda</h4>
                    <ul>
    
                       <li> <a href="#" >preguntas                         </a>  </li>
                       <li> <a href="#" >experiencia de usuario            </a>  </li>
        
                    </ul>
    
                </div>
    
               
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/NissanESP/">                       <i class="fab fa-facebook-f"> </i></a>
                        <a href="https://www.instagram.com/nissan/">                         <i class="fab fa-instagram">  </i></a>
                        <a href="https://x.com/NissanMotor/status/1435875628163665921">      <i class="fab fa-twitter">    </i></a>
                        <a href="https://www.linkedin.com/company/nissan-motor-corporation"> <i class="fab fa-linkedin">   </i></a>
                    </div>
        
                </div>
    
            </div>
    
        </div>
    
    </footer>

</body>

</html>