<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"    href="../css/estilos.css">
    <link rel="stylesheet"    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>





<!-- Aqui comienza el encabezado-->




<body>
    <nav>
        <label for="menu-toggle">

            <svg  class="botom" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">  
                <path  fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>

        </label>

        <input type="checkbox" id="menu-toggle">

        <ul id="menu">

            <li> <a href="../index.html">             Inicio        </a>     </li>
            <li> <a href="#" id="selected">           Portafolio    </a>     </li>
            <li> <a href="../views/formulario.html">  Presupuesto   </a>     </li>
            <li> <a href="../views/contacto.html">    Contacto      </a>     </li>
         
        </ul>
        <img src="../imagenes/nissan.jpg"  alt="logotipo" class="logo"  width="211" height="180">
    </nav>





<!--Usamos los div para encudrar y darle formato las imagenes-->




<div class="contenedor">

    <div class="galeria">

        <div class="qasqay">
            <img src="../imagenes/xtrail.jpg" alt=""   width="270" height="180">
        </div>

        <div class="pie">
            <p>nuesto modelo todoterreno</p>
            <p>Nissan Xtrail</p>
        </div>  

    </div>

    <div class="galeria">
        <div class="qasqay">
           <img src="../imagenes/fondodepantalla2.jpg" alt=""  width="750" height="406">
        </div>
        <div class="pie">
           <p>nuesto modelo sub </p>
           <p>Nissan Qasqay</p>
        </div>   
    </div>

    <div class="galeria">
        <div class="qasqay">
            <img src="../imagenes/juke.jpg" alt="" width="240" height="180">
        </div>
        <div class="pie">
           <p>nuesto sub compacto</p>
           <p>Nissan Juke</p>
        </div>   
    </div>

    <div class="galeria">
        <div class="qasqay">
            <img src="../imagenes/nissanmicra.jpg" alt="" width="320" height="180">
        </div>
        <div class="pie">
             <p>nuesto modelo deportivo</p>
             <p>Nissan Micra    </p>
        </div>   
    </div>
</div> 



<!--Aqui comienza el footer-->




<footer class="container">
     
    <div class="container">

        <div class="footer-row">

            <div class="footer-links"   >

                <h4>Contactanos</h4>
                <ul>

                   <li> <a href="#" >Direccion: Calle la Enrramada Nº23</a>  </li>
                   <li> <a href="#" >Aviso legal</a>  </li>
                   

                </ul>

            </div>
            <div class="footer-links"   >

                <h4>ayuda</h4>
                <ul>

                   <li> <a href="#" >preguntas</a>  </li>
                   <li> <a href="#" >experiencia de usuario</a>  </li>
    
                </ul>

            </div>

            <div class="footer-links">

                <h4>Siguenos</h4>

                <div class="social-links">
                    <a href="https://www.facebook.com/NissanESP/">                       <i class="fab fa-facebook-f"> </i></a>
                    <a href="https://www.instagram.com/nissan/">                         <i class="fab fa-instagram">  </i></a>
                    <a href="https://x.com/NissanMotor/status/1435875628163665921">      <i class="fab fa-twitter">    </i></a>
                    <a href="https://www.linkedin.com/company/nissan-motor-corporation"> <i class="fab fa-linkedin">   </i></a>
                </div>
    
            </div>

        </div>

    </div>

</footer>

</body>

</html>